<?php


use EmissorNfe\Helpers\Formata as Formata;

//Formata::debug(loadXSDContent());die;
//getArrayForm();

class MakeNfeInterface {

    public static function loadXSDContent()
    {

        $nfeXsd = __DIR__.'/../../vendor/nfephp-org/sped-nfe/schemes/PL_009_V4/leiauteNFe_v4.00.xsd';
        $nfeXml = EXTRAS_DIR.'/leiauteNFe_v4.00.xml';

        $doc = new DOMDocument();
        $doc->preserveWhiteSpace = true;
        $doc->load($nfeXsd);
        $doc->save($nfeXml);
        chmod($nfeXml, 0777);

        $xmlfile  = file_get_contents($nfeXml);
        $parseObj = str_replace($doc->lastChild->prefix.':',"",$xmlfile);
        $ob       = simplexml_load_string($parseObj);

        return json_decode(json_encode($ob), true);
    }

    public static function translateArrayFromArrayXSD($arrXSD, $obj)
    {

        $i = 0;
        foreach ($arrXSD as $key => $value)
        {

            if(!isset($value['@attributes']['name'])) {
                continue;
            }

//        if($i<=4) {
//            var_dump('--------------');
//            Formata::debug($value);
//        }
//        else
//            die('sdlfk');

            $options = [];

            if(isset($value['simpleType']['restriction']['enumeration'])) {

                foreach ($value['simpleType']['restriction']['enumeration'] as $k => $enumeration)
                {

                    if(!isset($enumeration['@attributes']) AND isset($enumeration['value'])) {
                        $enumeration['@attributes']['value'] = $enumeration['value'];
                    }

                    $options[] = [
                        'value' => $enumeration['@attributes']['value']
                    ];
                }
            }

            if(!isset($value['@attributes']['name'])) {
                Formata::debug($arrXSD);
                Formata::debug($value);die;
            }

            $obj->increment([
                'name'        => $value['@attributes']['name'],
                'description' => (isset($value['annotation']))              ? $value['annotation']['documentation']                     : '',
                'pattern'     => (isset($value['simpleType']['pattern']))   ? $value['simpleType']['pattern']['@attributes']['value']   : '',
                'minLength'   => (isset($value['simpleType']['minLength'])) ? $value['simpleType']['minLength']['@attributes']['value'] : '',
                'maxLength'   => (isset($value['simpleType']['maxLength'])) ? $value['simpleType']['maxLength']['@attributes']['value'] : '',
                'value'       => '',
                'options'     => $options,
            ]);

            if(isset($value['complexType']['sequence']['choice']['sequence']) OR isset($value['complexType']['sequence']['element']['@attributes'])) {
                continue;
            }

            if(isset($value['complexType']['sequence']['element']) OR isset($value['sequence']['element'])) {

                $arrSend = (isset($value['complexType']['sequence']['element'])) ? $value['complexType']['sequence']['element'] : $value['sequence']['element'];

                self::translateArrayFromArrayXSD($arrSend,$obj);
            }

            $i++;
        }
    }
}


//
//function getArrayForm()
//{
//
//    $obj = new Records([]);
//
//    translateArrayFromArrayXSD(loadXSDContent()['complexType'], $obj);
////    Formata::debug($obj->getRecords());
//}

class Records
{
    protected $a;

    public function __construct($a)
    {
        $this->a = $a;
    }

    public function increment($arr)
    {
        $this->a[] = $arr;
    }

    public function getRecords()
    {
        return $this->a;
    }
}
?>

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

        <title>Hello, world!</title>
    </head>
    <body>
        <div class="container">
            <div class="row">
                    <form>
                        <?php

                            $obj = new Records([]);
                            MakeNfeInterface::translateArrayFromArrayXSD(MakeNfeInterface::loadXSDContent()['complexType'], $obj);
                            $arrForm = $obj->getRecords();

                            if(count($arrForm) > 0) {

                                $form = '';

                                foreach ($arrForm as $key => $formFields)
                                {

                                    if(Formata::excluiCamposInterface($formFields['name'])) {
                                        continue;
                                    }
                                    
                                    if(Formata::verificaCamposHeaderInterface($formFields['name'])) {

                                        $form .= <<<HTML_HEADER
                                            <div class="jumbotron">
                                                <h1 class="display-4">{$formFields['name']}<h1>
                                                <hr class="my-4">
                                                <p>{$formFields['description']}.</p>
                                            </div>
HTML_HEADER;
                                        continue;
                                    }

                                    if(count($formFields['options']) == 0) {

                                        $form .= <<<HTML_CAMPO_TEXTO
                                            <div class="form-group">
                                                <label for="text-{$formFields['name']}">{$formFields['name']}</label>
                                                <input type="text" class="form-control" id="text-{$formFields['name']}" placeholder="{$formFields['description']}">
                                                <small id="text-{$formFields['name']}Help" class="form-text text-muted">{$formFields['description']}.</small>
                                            </div>
HTML_CAMPO_TEXTO;
                                    } else {

                                        $htmlOptions = '';

                                        foreach ($formFields['options'] as $k => $option)
                                        {

                                            $htmlOptions .= <<<HTML_OPTION
                                                <option value="{$option['value']}">{$option['value']}</option>
HTML_OPTION;
                                        }

                                        $form .= <<<HTML_CAMPO_SELECT
                                            <div class="form-group">
                                                <label for="text-{$formFields['name']}">{$formFields['name']}</label>
                                                <select class="form-control" id="text-{$formFields['name']}">
                                                    <option selected>Choose...</option>
                                                    {$htmlOptions}
                                                </select>
                                            </div>
HTML_CAMPO_SELECT;
                                    }

                                }

                                echo $form;
                            }

                        ?>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
            </div>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    </body>
</html>